<div class="contents">
  <div class="grid">
    <div class="item" *ngIf="getScreenWidth < 768">
      <img src="../../assets/images/logo.svg" width="120" style="margin-bottom: -4rem;" alt="">
      <img src="../../assets/images/pokemons.svg" width="400" alt="">
    </div>
    <div class="item">
      <img *ngIf="getScreenWidth >= 768" src="../../assets/images/logo.svg" width="120" style="margin-bottom: -4rem;" alt="">
      <h1 style="margin-bottom: -1rem; font-size: 3rem;">Explore o mundo<br>
        dos <span style="color: #EA686D;">Pokémons</span></h1>
      <p style="font-size: 1.5rem;">Descubra todas as espécies de Pokémons</p>
      <input class="input-custom" type="text"><button class="btn-search"><b>Buscar</b>  </button>
    </div>
    <div class="item" *ngIf="getScreenWidth >= 768">
      <img src="../../assets/images/pokemons.svg" width="400" alt="">
    </div>
  </div>
  <div class="item">
    <h2>Mais procurados</h2>
    <div class="carousel">
      <button class="carousel-button prev" (click)="prevSlide()">❮</button>
      <div  class="carousel-container" [ngStyle]="{'transform': 'translateX(' + (-currentIndex * itemWidth) + 'px)'}">
        <div (click)="openSide(item.url)" class="carousel-item" *ngFor="let item of data; let i = index" [ngClass]="{'active': i >= currentIndex && i < currentIndex + itemsPerPage}">
          <h4>{{ firstLetterUpper(item.name)}}</h4>
        </div>
      </div>
      <button class="carousel-button next" (click)="nextSlide()">❯</button>
    </div>
  </div>
</div>
<app-sidebar [showSide]="showSide" [id]="itemParam" (closeSide)="showSide = false"></app-sidebar>