.contents {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define três colunas com larguras iguais */
    gap: 20px; /* Espaço entre as colunas */
    padding: 20px;
    
  }
  
  .item {
    padding: 20px;
    text-align: justify;
  }
  
  /* Responsividade: 2 colunas em telas menores */
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .btn-search{
    color: #fff;
    background-color: #EA686D;
    border: 0;
    border-radius: 0 4px 4px 0;
    width: 5rem;
    height: 2.5rem;
    box-shadow: 1px 1px 10px 1px #f07c7f;
  }

  .input-custom{
    border: 0;
    width: 18rem;
    height: 2.3rem;
    border-radius: 4px 0 0 4px;
    box-shadow: 1px 1px 1px 1px #ccc;
  }

  textarea:focus, input:focus{
    outline: none;
}


.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%; 
  margin: auto;
}

.carousel-viewport {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 59rem;
  height: 12rem;
}

.carousel-item {
  min-width: calc(100% / 5);  /* 5 itens por vez */
  box-sizing: border-box;
  text-align: center;
  /* padding: 20px; */
  background-color: #FBFDFF;
  margin-left: 1.5rem;
}
@media (max-width: 768px) {
  .carousel-item {
    min-width: calc(100% / 1);
  }
}

.carousel-button {
  cursor: pointer;
  position: absolute;
  top: 45%;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  padding: 0px 6px 0px 6px;
  z-index: 1;
  border-radius: 50%;
  background-color: #EA686D;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}